$lightRed: #ac0e0ead;

@font-face {
    font-family: 'Open Sans';
    src: "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap";
    

    //Barecode - Footer:
    font-family: 'Libre Barcode 128 Text', cursive;
    src: "https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap";


    //Marko One - Titles:
    font-family: 'Marko One', serif;
    src: "https://fonts.googleapis.com/css2?family=Marko+One&display=swap";

    
    // Chau Philomene One - Content: 
    font-family: 'Chau Philomene One', sans-serif;
    src: "https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap";
}


    // Responsive pour ecran > 1024px: 
@media only screen and (min-width: 1024px){
    .app {
        display: flex;
        justify-content: center;
        
        .container { 
            width: 1024px;
    
            .link {
                text-decoration: none;
                color: inherit;
                font-family: 'Chau Philomene One', sans-serif;
            }
    
            // LOGIN & REGISTER
    
            .auth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                font-family: 'Chau Philomene One', sans-serif;
                
    
                h1 {
                    font-size: 25px;
                    margin-bottom: 20px;
                    padding: 20px;
                }
    
                form {
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    background-color: #fff;
                    width: 200px;
                    gap: 20px;
    
                    input {
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid #808080;
                    }
    
                    button {
                        padding: 10px;
                        border: none;
                        cursor: pointer;
                        background-color: $lightRed;
                        color: #fff;
                    }
    
                    p {
                        font-size: 12px;
                        color: #ff0000;
                        text-align: center;
                    }
    
                    span {
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
    
            // HEADER
    
            header {
                .container {
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .logo {
                        img {
                            width: 140px;  
                        }
                    }
                    .navbar {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        h6 {
                            padding: 10px 15px 10px 15px;
                            font-size: 16px;
                            font-weight: 300;
                            font-family: 'Chau Philomene One', sans-serif;
                            
                            &:hover {
                                text-decoration: underline;
                                border: 1px solid #fff;
                                background-color: $lightRed;
                                margin-top: 3px;
                            }
                        }
    
                        span {
                            
                            cursor: pointer;
                            font-family: 'Chau Philomene One', sans-serif;
                            &:hover {
                                text-decoration: underline;
                                
                            }
                        }
    
                        .write {
                            padding: 0px;
                            font-family: 'Chau Philomene One', sans-serif;
                            background-color: #fff;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 300;
                            border: 1px solid rgb(0, 0, 0);
    
                            &:hover {
                                color:$lightRed;
                                background-color: #fff;
                                border: 1px solid $lightRed;
                            }
    
                        }
                    }
                } 
            }
    
            // HOME
    
            .home {
    
                // Liste des articles
                .posts {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 150px;
    
                    // Artcile seul 
                    .post {
                        display: flex;
                        gap: 100px;
                        
                        &:nth-child(2n+1) {
                            flex-direction: row-reverse;
                        }
    
                        .img {
                            flex: 2;
                            position: relative;
    
                            &::after {
                                content:"";
                                width: 100%;
                                height: 100%;
                                background-color: $lightRed;
                                position:absolute;
                                top: 20px;
                                left: -20px;
                                z-index: -1;
    
                            }
    
                            img {
                                width: 100%;
                                max-height: 400px;
                                object-fit: cover;
                            }
                        }
    
                        .content {
                            flex: 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
    
                            h1 {
                                position: relative;
                                font-size: 37px;
                                letter-spacing: 0px;
                                text-transform: uppercase;
                                width: fit-content;
                                text-align: center;
                                white-space: nowrap;
                                background-color: #fff;
                                border-bottom: 1px solid $lightRed;
                                color:#000;
                                padding: 5px 11px 3px 11px;
                                
                                &:hover{
                                    border: 1px solid #fff;
                                    background-color: $lightRed;
                                }
                            }
    
                            p {
                                font-family: 'Chau Philomene One', sans-serif;
                                font-size: 14px;
                                width: 400px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
    
                                
                            }
    
                            button {
                            font-family: 'Chau Philomene One', sans-serif;  
                              width: max-content;
                              padding: 10px 20px;
                              border: none;
                              cursor: pointer;
                              background-color: #fff;
                              border: 1px solid $lightRed;
                              color:#000;
    
                              &:hover {
                                border: 1px solid #fff;
                                background-color: $lightRed;
                                
                              }
                            }
                            
                        }
                    }
                }
            }
    
            // FOOTER
    
            footer {
                font-family: 'Libre Barcode 128 Text', cursive;
                margin-top: 100px;
                padding: 20px;
                background-color: $lightRed;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 27px;
                img {
                    width: 12%;
                }
            }        
    
            // SINGLE
    
            .single {
                display: flex;
                gap: 50px;
    
                .content {
                    flex:5;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-family: 'Chau Philomene One', sans-serif;
    
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }
    
                    .user {
                        font-family: 'Chau Philomene One', sans-serif;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
    
                        span {
                            font-weight: bold;
                        }
                    }
    
                    .edit {
                        display: flex;
                        gap: 5px;
    
                        img {
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                        
                    }
    
                    h1 {
                        font-family: 'Marko One', serif;
                        position: relative;
                        font-size: 37px;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                        width: fit-content;
                        text-align: center;
                        white-space: nowrap;
                        background-color: #fff;
                        border-bottom: 1px solid $lightRed;
                        color:#000;
                        padding: 5px;
                        
                    }
    
                    p{
                        
                        text-align: justify;
                        line-height: 10px;
                    }
                    
                    .singleDesc{
                        // margin: 0 10px;
                        // margin-top:10px;
                        // margin-bottom:10px;
                        font-size: 17px;
                        text-align: justify;
                        line-height: 19px;
                        
                        
                        
                     }
                    
    
                }
                .menu {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
    
                    h1 {
                        font-family: 'Marko One', serif;
                        font-size: 25px;
                        color:rgb(0, 0, 0);
                        border-bottom: 1px solid $lightRed;
                        text-align: center;
                    }
    
                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
    
                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            
                        }
    
                        h2 {
                            font-size: 20px;
                            font-family: 'Marko One', serif;
                            color: rgb(0, 0, 0)
                        }
    
                        button {
                            font-family: 'Chau Philomene One', sans-serif;
                            width: max-content;
                            padding: 7.5px 15px;
                            border: none;
                            cursor: pointer;
                            background-color: #fff;
                            border: 1px solid $lightRed;
                            color:$lightRed;
    
                            &:hover {
                              border: 1px solid #fff;
                              background-color: $lightRed;
                              color:#000;
                            }
                          }
                    }
                }
            }
    
            // PUBLIER / EDITER 
    
            .add {
                margin-top: 20px;
                display: flex;
                gap: 20px;
                
    
                .content {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    input {
                        padding: 10px;
                        border: 1px solid #d3d3d3;
                    }
    
                    .editorContainer {
                       height: 300px;
                       overflow: scroll;
                       border: 1px solid #d3d3d3 ;
    
                       .editor{
                        height: 100%;
                        border: none;
                       }
                    }
                }
    
                .menu {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    font-family: 'Chau Philomene One', sans-serif;
    
                    .item {
                        border: 1px solid #d3d3d3;
                        padding: 10px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.884);
    
                        h1 {
                            font-size: 18px;
                        }
    
                        .file {
                            font-size: 15px;
                            margin: 10px 0px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .buttons {
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-between;
    
                            :first-child {
                                cursor: pointer;
                                color:$lightRed;
                                background-color: #fff;
                                border: 1px solid $lightRed;
                                padding: 5px 8px;
                            }
                            :last-child {
                                cursor: pointer;
                                color:#fff;
                                background-color: $lightRed;
                                border: 1px solid $lightRed;
                                padding: 5px 8px;
                            }
                        }
    
                        .writeCat {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            
                        }
                    }
                }
            }
    
            #file {
                display: none;
            }
        }
    }
}

    // Responsive pour ecran entre 480px et 1024px: 
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    
    .app {
        display: flex;
        justify-content: center;
        
        .container { 
            width: 900px;
    
            
    
            .link {
                text-decoration: none;
                color: inherit;
                font-family: 'Chau Philomene One', sans-serif;
            }
    
            // LOGIN & REGISTER
    
            .auth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                font-family: 'Chau Philomene One', sans-serif;
                
    
                h1 {
                    font-size: 25px;
                    margin-bottom: 20px;
                    padding: 20px;
                }
    
                form {
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    background-color: #fff;
                    width: 200px;
                    gap: 20px;
    
                    input {
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid #808080;
                    }
    
                    button {
                        padding: 10px;
                        border: none;
                        cursor: pointer;
                        background-color: $lightRed;
                        color: #fff;
                    }
    
                    p {
                        font-size: 12px;
                        color: #ff0000;
                        text-align: center;
                    }
    
                    span {
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
    
            // HEADER
    
            header {
                .container {
                    padding: 10px 0px;
                    display: flex;
                    
                    justify-content:space-evenly;
                    .logo {
                        img {
                            width: 140px;  
                        }
                    }
                    .navbar {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        h6 {
                            padding: 7px 0px;
                            font-size: 16px;
                            font-weight: 300;
                            font-family: 'Chau Philomene One', sans-serif;
                            
                            &:hover {
                                text-decoration: underline;
                                border: 1px solid #fff;
                                background-color: $lightRed;
                                margin-top: 3px;
                            }
                        }
    
                        span {
                            
                            cursor: pointer;
                            font-family: 'Chau Philomene One', sans-serif;
                            &:hover {
                                text-decoration: underline;
                                
                            }
                        }
    
                        .write {
                            padding: 0px;
                            font-family: 'Chau Philomene One', sans-serif;
                            background-color: #fff;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 300;
                            border: 1px solid rgb(0, 0, 0);
    
                            &:hover {
                                color:$lightRed;
                                background-color: #fff;
                                border: 1px solid $lightRed;
                            }
    
                        }
                    }
                  
                } 
            }
    
            // HOME
    
            .home {
    
                // Liste des articles
                .posts {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 150px;
    
                    // Artcile seul 
                    .post {
                        display: flex;
                        gap: 100px;
                        flex-direction: column;
                        align-items: center;
                        
                        &:nth-child(2n+1) {
                            
                            flex: 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction:column-reverse, row-reverse;
                        }
    
                        .img {
                            
                            flex: 2;
                            position: relative;
                            
    
                            &::after {
                                content:"";
                                align-items: center;
                                width: 100%;
                                height: 100%;
                                background-color: $lightRed;
                                position:absolute;
                                top: 20px;
                                left: -20px;
                                z-index: -1;
    
                            }
    
                            img {
                                align-items: center;
                                max-width: 480px;
                                max-height: 400px;
                                object-fit: cover;
                            }
                        }
    
                        .content {
                            flex: 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
    
                            h1 {
                                position: relative;
                                font-size: 37px;
                                letter-spacing: 0px;
                                text-transform: uppercase;
                                width: fit-content;
                                text-align: center;
                                white-space: nowrap;
                                background-color: #fff;
                                border-bottom: 1px solid $lightRed;
                                color:#000;
                                padding: 5px 11px 3px 11px;
                                
                                
                                &:hover{
                                    border: 1px solid #fff;
                                    background-color: $lightRed;
                                }
                            }
    
                            p {
                                font-family: 'Chau Philomene One', sans-serif;
                                font-size: 14px;
                                width: 400px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
    
                                
                            }
    
                            button {
                            font-family: 'Chau Philomene One', sans-serif;  
                              width: max-content;
                              padding: 10px 20px;
                              border: none;
                              cursor: pointer;
                              background-color: #fff;
                              border: 1px solid $lightRed;
                              color:#000;
                              margin-top: 30px;
    
                              &:hover {
                                border: 1px solid #fff;
                                background-color: $lightRed;
                                
                              }
                            }
                            
                        }
                    }
                }
            }
    
            // FOOTER
    
            footer {
                font-family: 'Libre Barcode 128 Text', cursive;
                width: 95%;
                margin-top: 100px;
                padding: 20px;
                background-color: $lightRed;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 25px;
                img {
                    
                    width:13%;
                    margin-left: 70px;
                }
                .textFooter {
                    margin-right: 90px;
                }
            }        
    
            // SINGLE
    
            .single {
                display: flex;
                gap: 50px;
                flex-direction: column;
                align-items: center;
                margin: 0px 100px;
    
                .content {
                    flex:5;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-family: 'Chau Philomene One', sans-serif;
                    align-items: center;
    
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: contain;
                        
                    }
    
                    .user {
                        font-family: 'Chau Philomene One', sans-serif;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
    
                        span {
                            font-weight: bold;
                        }
                    }
    
                    .edit {
                        display: flex;
                        gap: 5px;
    
                        img {
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                        
                    }
    
                    h1 {
                        font-family: 'Marko One', serif;
                        position: relative;
                        font-size: 37px;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                        width: fit-content;
                        text-align: center;
                        white-space: nowrap;
                        background-color: #fff;
                        border-bottom: 1px solid $lightRed;
                        color:#000;
                        padding: 5px;
                        
                    }
    
                    p{
                        
                        text-align: justify;
                        line-height: 10px;
                        max-width: 500px;
                        
                    }
                    
                    .singleDesc{
                        margin: 0 10px;
                        // margin-top:10px;
                        // margin-bottom:10px;
                        font-size: 17px;
                        text-align: center;
                        line-height: 18px;
                        
                        
                     }
                    
    
                }
                .menu {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
    
                    h1 {
                        font-family: 'Marko One', serif;
                        font-size: 25px;
                        color:rgb(0, 0, 0);
                        border-bottom: 1px solid $lightRed;
                        text-align: center;
                    }
    
                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
    
                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            
                        }
    
                        h2 {
                            font-size: 20px;
                            font-family: 'Marko One', serif;
                            color: rgb(0, 0, 0)
                        }
    
                        button {
                            font-family: 'Chau Philomene One', sans-serif;
                            width: max-content;
                            padding: 7.5px 15px;
                            border: none;
                            cursor: pointer;
                            background-color: #fff;
                            border: 1px solid $lightRed;
                            color:$lightRed;
    
                            &:hover {
                              border: 1px solid #fff;
                              background-color: $lightRed;
                              color:#000;
                            }
                          }
                    }
                }
            }
    
            // PUBLIER / EDITER 
    
            .add {
                margin-top: 20px;
                margin-left: 250px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                width: fit-content;
                align-items: center;
                
    
                .content {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    input {
                        padding: 10px;
                        border: 1px solid #d3d3d3;
                    }
    
                    .editorContainer {
                       height: 300px;
                       overflow: scroll;
                       border: 1px solid #d3d3d3 ;
    
                       .editor{
                        height: 100%;
                        border: none;
                       }
                    }
                }
    
                .menu {
                    flex: 2;
                    display: flex;
                    
                    gap: 20px;
                    font-family: 'Chau Philomene One', sans-serif;
    
                    .item {
                        border: 1px solid #d3d3d3;
                        padding: 10px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.884);
    
                        h1 {
                            font-size: 18px;
                        }
    
                        .file {
                            font-size: 15px;
                            margin: 10px 0px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .buttons {
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-between;
    
                            :first-child {
                                cursor: pointer;
                                color:$lightRed;
                                background-color: #fff;
                                border: 1px solid $lightRed;
                                padding: 5px 8px;
                            }
                            :last-child {
                                cursor: pointer;
                                color:#fff;
                                background-color: $lightRed;
                                border: 1px solid $lightRed;
                                padding: 5px 8px;
                            }
                        }
    
                        .writeCat {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            
                        }
                    }
                }
            }
    
            #file {
                display: none;
            }
        }
    }
}























 
   // Responsive pour ecran plus petit que 480px:
@media only screen and (max-width: 480px) {
    * {
        margin: 0;
        box-sizing: border-box;
    }
    .app {
        display: flex;
        justify-content: center;
        
        .container { 
            width: 900px;
    
            .link {
                text-decoration: none;
                color: inherit;
                font-family: 'Chau Philomene One', sans-serif;
            }
    
            // LOGIN & REGISTER
    
            .auth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                font-family: 'Chau Philomene One', sans-serif;
                
    
                h1 {
                    font-size: 25px;
                    margin-bottom: 20px;
                    padding: 20px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    background-color: #fff;
                    width: 200px;
                    gap: 20px;
    
                    input {
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid #808080;
                    }
    
                    button {
                        padding: 10px;
                        border: none;
                        cursor: pointer;
                        background-color: $lightRed;
                        color: #fff;
                    }
    
                    p {
                        font-size: 12px;
                        color: #ff0000;
                        text-align: center;
                    }
    
                    span {
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
    
            // HEADER
    
            header {
                .container {
                    
                    display: flex;
                    flex-direction: column;
                    
                    
                    .navbar {
                        display: flex;
                        align-items: center;
                        margin-left: 220px;
                        margin-bottom: 25px;
                        flex-direction: column;
    
                        h6 {
                            padding: 7px 12px;
                            font-size: 16px;
                            font-weight: 300;
                            font-family: 'Chau Philomene One', sans-serif;
                            
                            &:hover {
                                text-decoration: underline;
                                border: 1px solid #fff;
                                background-color: $lightRed;
                                margin-top: 3px;
                            }
                        }
    
                        span {
                            
                            cursor: pointer;
                            font-family: 'Chau Philomene One', sans-serif;
                            
                            &:hover {
                                text-decoration: underline;
                                
                            }
                        }
    
                        .write {
                            padding: 0px;
                            font-family: 'Chau Philomene One', sans-serif;
                            background-color: #fff;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 300;
                            border: 1px solid rgb(0, 0, 0);
                            margin-top: 10px;
    
                            &:hover {
                                color:$lightRed;
                                background-color: #fff;
                                border: 1px solid $lightRed;
                            }
    
                        }
                    }
                        // $background-color_3: rgb(154, 181,240);

                        /* ------------- sliding menu ------------------ */
                       
                        nav {
                            width: 75%;
                            height: 5em;
                            background-color: $lightRed;
                            display: flex;
                            justify-content: flex-start;
                            padding: 1em;
                            margin-bottom: 50px;
                           
                         
                            
                        }
                        .logo {
                            position: absolute;
                            margin-left: 265px;
                            margin-top: 5px;
                            // display: none;
                            // position: fixed;
                            z-index: 2;
                            img {
                                width: 110px; 
                                
                            }
                        }
                        .burger-menu {
                            height: 100%;
                            width: 4em;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;
                            cursor: pointer;
                            

                        }
                        .burger-bar {
                            margin-left: 550px;
                            width: 3em;
                            height: 0.5em;
                            background-color: #fff;
                            border-radius: 0.3em;
                            border: 1px solid #000;
                            
                        }
                        .menu {
                            margin-top: -45px;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            margin-left: 305px;
                            width:30%;
                            // height: 100vh;
                            // background-color: $background-color_3;
                            // position: absolute;
                            // top: 0;
                            z-index: -1;
                            gap: 20px;
                            
                            
                        }
                        .hidden {
                            display: none;
                            
                        }
                        .visible {
                            margin-bottom: 20px;
                            // margin-top: 80px;
                            // display: flex;
                            // flex-direction: column;
                        }
                         /* ----- animations--------- */

                        /* clicked */
                        .burger-bar.clicked {
                            &:nth-child(1) {
                                transform: rotate(45deg) translate(0.8em, 1.25em);
                                transition: ease-out 0.5s;
                            }
                            &:nth-child(2) {
                                transform: scale(0.1);
                                transition: ease-out 0.5s;
                                visibility: hidden;
                            }
                            &:nth-child(3) {
                                transform: rotate(135deg) translate(-0.6em, 1em);
                                transition: ease-out 0.5s;
                            }
                        }
                        /* unclicked */
                        .burger-bar.unclicked {
                            transform: rotate(0) translate(0);
                            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
                        }

                        } 
                    }
    
            // HOME
    
            .home {
    
                // Liste des articles
                .posts {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    gap: 150px;
                    align-items: center;
                    
    
                    // Artcile seul 
                    .post {
                        display: flex;
                        gap: 100px;
                        flex-direction: column;
                        
                        
                        &:nth-child(2n+1) {
                            
                            flex-direction:column-reverse, row-reverse;
                        }
    
                        .img {
                            margin-left: 110px;
                            flex: 2;
                            position: relative;
                            
    
                            &::after {
                                content:"";
                                width: 100%;
                                height: 100%;
                                background-color: $lightRed;
                                position:absolute;
                                top: 20px;
                                left: -55px;
                                z-index: -1;
                                
    
                            }
    
                            img {
                                // align-items: center;
                                max-width: 80%;
                                max-height: 400px;
                                object-fit: cover;
                            }
                        }
    
                        .content {
                            flex: 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
    
                            h1 {
                                position: relative;
                                font-size: 37px;
                                letter-spacing: 0px;
                                text-transform: uppercase;
                                width: fit-content;
                                text-align: center;
                                white-space: nowrap;
                                background-color: #fff;
                                border-bottom: 1px solid $lightRed;
                                color:#000;
                                padding: 5px 11px 3px 11px;
                                
                                
                                &:hover{
                                    border: 1px solid #fff;
                                    background-color: $lightRed;
                                }
                            }
    
                            p {
                                font-family: 'Chau Philomene One', sans-serif;
                                font-size: 14px;
                                width: 400px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                margin-top: 15px;
                                margin-left: 30px;
    
                                
                            }
    
                            button {
                            font-family: 'Chau Philomene One', sans-serif;  
                              width: max-content;
                              padding: 10px 20px;
                              border: none;
                              cursor: pointer;
                              background-color: #fff;
                              border: 1px solid $lightRed;
                              color:#000;
                              margin-top: 30px;
    
                              &:hover {
                                border: 1px solid #fff;
                                background-color: $lightRed;
                                
                              }
                            }
                            
                        }
                    }
                }
            }
    
            // FOOTER
    
            footer {
                font-family: 'Libre Barcode 128 Text', cursive;
                width: 75%;
                margin-top: 100px;
                padding: 20px;
                background-color: $lightRed;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 23px;
                img {
                    width:15%;
                    margin-left: 240px;
                }
                .textFooter {
                    margin-right: 35px;
                }
            }        
    
            // SINGLE
    
            .single {
                display: flex;
                gap: 50px;
                flex-direction: column;
                align-items: center;
                margin: 0px 300px;

    
                .content {
                    flex:5;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-family: 'Chau Philomene One', sans-serif;
                    align-items: center;
    
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: contain;
                        
                    }
    
                    .user {
                        font-family: 'Chau Philomene One', sans-serif;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
    
                        span {
                            font-weight: bold;
                        }
                    }
    
                    .edit {
                        display: flex;
                        gap: 5px;
    
                        img {
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                        
                    }
    
                    h1 {
                        font-family: 'Marko One', serif;
                        position: relative;
                        font-size: 30px;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                        width: fit-content;
                        text-align: center;
                        white-space: nowrap;
                        background-color: #fff;
                        border-bottom: 1px solid $lightRed;
                        color:#000;
                        padding: 5px;
                        
                    }
    
                    p{
                        
                        text-align: justify;
                        line-height: 10px;
                        max-width: 500px;
                        
                    }
                    
                    .singleDesc{
                        margin: 0 20px;
                        // margin-top:10px;
                        // margin-bottom:10px;
                        font-size: 16px;
                        text-align: center;
                        line-height: 18px;
                        
                        
                     }
                    
    
                }
                .menu {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
    
                    h1 {
                        font-family: 'Marko One', serif;
                        font-size: 25px;
                        color:rgb(0, 0, 0);
                        border-bottom: 1px solid $lightRed;
                        text-align: center;
                    }
    
                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
    
                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            
                        }
    
                        h2 {
                            font-size: 20px;
                            font-family: 'Marko One', serif;
                            color: rgb(0, 0, 0)
                        }
    
                        button {
                            font-family: 'Chau Philomene One', sans-serif;
                            width: max-content;
                            padding: 7.5px 15px;
                            border: none;
                            cursor: pointer;
                            background-color: #fff;
                            border: 1px solid $lightRed;
                            color:$lightRed;
    
                            &:hover {
                              border: 1px solid #fff;
                              background-color: $lightRed;
                              color:#000;
                            }
                          }
                    }
                }
            }
    
            // PUBLIER / EDITER 
    
            .add {
                margin-top: 20px;
                margin-left: 250px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                width: fit-content;
                align-items: center;
                
    
                .content {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    input {
                        padding: 10px;
                        border: 1px solid #d3d3d3;
                    }
    
                    .editorContainer {
                       height: 300px;
                       overflow: scroll;
                       border: 1px solid #d3d3d3 ;
    
                       .editor{
                        height: 100%;
                        border: none;
                       }
                    }
                }
    
                .menu {
                    flex: 2;
                    display: flex;
                    
                    gap: 20px;
                    font-family: 'Chau Philomene One', sans-serif;
    
                    .item {
                        border: 1px solid #d3d3d3;
                        padding: 10px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.884);
    
                        h1 {
                            font-size: 18px;
                        }
    
                        .file {
                            font-size: 15px;
                            margin: 10px 0px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .buttons {
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-between;
    
                            :first-child {
                                cursor: pointer;
                                color:$lightRed;
                                background-color: #fff;
                                border: 1px solid $lightRed;
                                padding: 5px 8px;
                            }
                            :last-child {
                                cursor: pointer;
                                color:#fff;
                                background-color: $lightRed;
                                border: 1px solid $lightRed;
                                padding: 5px 8px;
                            }
                        }
    
                        .writeCat {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            
                        }
                    }
                }
            }
    
            #file {
                display: none;
            }
        }
    }
}
